html {
  background-color: #CFCFCD;
  height: 100%;
  min-height: 1100px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

body {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100%;
  height: 100%;
  max-width: 800px;
  min-width: 800px;
  background-color: #32322C;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
body #calc-backdrop {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 80%;
  height: 800px;
  flex-basis: none;
  flex: none;
  background-color: #DB5A42;
  align-content: center;
  justify-content: space-around;
  align-self: center;
  border-radius: 15px;
  box-shadow: rgba(214, 70, 3, 0.3) 0px 0px 0px 3px;
}
body #calc-backdrop #display {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: 130px;
  align-self: center;
  background-color: #FF6663;
  width: 95%;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
}
body #calc-backdrop #display #display-screen {
  background-color: #CFCFCD;
  height: 80%;
  width: 95%;
  border-radius: 10%;
  align-items: center;
  justify-content: end;
  font-size: 80px;
  color: rgb(97, 97, 97);
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 15px;
}
body #calc-backdrop #input {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: 550px;
  align-self: center;
  display: flex;
  background-color: #FF6663;
  width: 95%;
  border-radius: 15px;
  justify-content: space-around;
}
body #calc-backdrop #input .column {
  background-color: #8B4169;
}
body #calc-backdrop #input .row {
  height: 16%;
  width: 100%;
}
body #calc-backdrop #input button {
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0.6em 1em;
  border: 0;
  margin: 0.6em;
  background: transparent;
  font-size: 30px;
  color: white;
  align-content: center;
  border-radius: 10px;
  opacity: 0.8;
  box-shadow: 5px 5px 10px rgba(160, 32, 240, 0.2), 10px 10px 20px rgba(160, 32, 240, 0.2), 15px 15px 30px rgba(160, 32, 240, 0.2), 20px 20px 40px rgba(255, 100, 0, 0.2), 25px 25px 50px rgba(255, 100, 0, 0.2);
}
body #calc-backdrop #input button::after {
  top: 2px;
}
body #calc-backdrop #input #Zero {
  flex-basis: 35%;
  background-color: #E994B8;
}
body #calc-backdrop #input #dot {
  background-color: #E994B8;
}
body #calc-backdrop #input #_1 {
  background-color: #E994B8;
}
body #calc-backdrop #input #_2 {
  background-color: #E994B8;
}
body #calc-backdrop #input #_3 {
  background-color: #E994B8;
}
body #calc-backdrop #input #_4 {
  background-color: #E994B8;
}
body #calc-backdrop #input #_5 {
  background-color: #E994B8;
}
body #calc-backdrop #input #_6 {
  background-color: #E994B8;
}
body #calc-backdrop #input #_7 {
  background-color: #E994B8;
}
body #calc-backdrop #input #_8 {
  background-color: #E994B8;
}
body #calc-backdrop #input #_9 {
  background-color: #E994B8;
}
body #calc-backdrop #input #AC {
  background-color: #9B91CF;
}
body #calc-backdrop #input button:hover {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */